html {
font-family: Arial, black;
}

body {
  width: 90%;
  max-width: 60em; /* 960 px */
  margin: 1em auto; /* 1em=16px */
  }

h1 {
  text-align: center;

}

h3 {
  margin: 3em 0 .5em 0;
}

a {
  font-weight: bold;
  color: #2455c3;
  text-decoration: none;
  }

a:hover {
  text-decoration: underline;
  }

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.col {
  columns: 1;
}

@media (min-width: 48em) {

.col {
  columns: 2;
  }


}
